---
import { colorLuminance } from "../helpers";
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/Calculator/Calculator.astro";

const lightBackgroundColor = "#ecf0f3";
const darkBackgroundColor = "#02192b";

const lightTextColor = "#081B2D";
const darkTextColor = "#F4F9FD";

// light theme
const lightColorDifference = 0.15;
const darkLightShadowColor = colorLuminance(
  lightBackgroundColor,
  lightColorDifference * -1,
);
const lightLightShadowColor = colorLuminance(
  lightBackgroundColor,
  lightColorDifference,
);

// dark theme
const darkColorDifference = 0.9;
const darkDarkShadowColor = colorLuminance(
  darkBackgroundColor,
  darkColorDifference * -1,
);
const lightDarkShadowColor = colorLuminance(
  darkBackgroundColor,
  darkColorDifference,
);
---

<Layout
  title="CalcGPT"
  lightBackgroundColor={lightBackgroundColor}
  darkBackgroundColor={darkBackgroundColor}
  lightTextColor={lightTextColor}
  darkTextColor={darkTextColor}
>
  <main>
    <Calculator
      lightBackgroundColor={lightBackgroundColor}
      darkBackgroundColor={darkBackgroundColor}
      lightTextColor={lightTextColor}
      darkTextColor={darkTextColor}
    />
  </main>
</Layout>

<style
  define:vars={{
    lightLightShadowColor,
    darkLightShadowColor,

    lightDarkShadowColor,
    darkDarkShadowColor,
  }}
>
  main {
    --darkShadowColor: var(--darkLightShadowColor);
    --lightShadowColor: var(--lightLightShadowColor);

    margin: auto;
  }

  @media (prefers-color-scheme: dark) {
    main {
      --darkShadowColor: var(--darkDarkShadowColor);
      --lightShadowColor: var(--lightDarkShadowColor);
    }
  }
</style>
