---
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/Calculator.astro";

const lightBackgroundColor = "#ecf0f3";
const darkBackgroundColor = "#02192b";

const lightTextColor = "#081B2D";
const darkTextColor = "#F4F9FD";
---

<Layout
  title="CalcGPT"
  lightBackgroundColor={lightBackgroundColor}
  darkBackgroundColor={darkBackgroundColor}
  lightTextColor={lightTextColor}
  darkTextColor={darkTextColor}
>
  <main>
    <Calculator
      lightBackgroundColor={lightBackgroundColor}
      darkBackgroundColor={darkBackgroundColor}
      lightTextColor={lightTextColor}
      darkTextColor={darkTextColor}
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
