---
import "inter-ui/inter-hinted-latin.css";
import type { HexColor } from "../types/CssColor";

interface Props {
  title: string;

  lightBackgroundColor: HexColor;
  darkBackgroundColor: HexColor;

  lightTextColor: HexColor;
  darkTextColor: HexColor;
}

const {
  title,
  lightBackgroundColor,
  darkBackgroundColor,
  lightTextColor,
  darkTextColor,
} = Astro.props;

const lightLinkColor = "#1565C0";
const darkLinkColor = "#42A5F5";
const lightVisitedLinkColor = "#5E35B1";
const darkVisitedLinkColor = "#B39DDB";

const backgroundColorStyleString = `
:root {
  --lightBackgroundColor: ${lightBackgroundColor};
  --darkBackgroundColor: ${darkBackgroundColor};

  --lightTextColor: ${lightTextColor};
  --darkTextColor: ${darkTextColor};

  --backgroundColor: ${lightBackgroundColor};
  --textColor: ${lightTextColor};

  --linkColor: ${lightLinkColor};
  --visitedLinkColor: ${lightVisitedLinkColor};
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: ${darkBackgroundColor};
    --textColor: ${darkTextColor};

    --linkColor: ${darkLinkColor};
    --visitedLinkColor: ${darkVisitedLinkColor};
  }
}
`.trim();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style set:html={backgroundColorStyleString}></style>

    <meta charset="UTF-8" />
    <meta name="description" content="A calculator powered by GPT" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "Inter", system-ui, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--linkColor);
  }

  a:visited {
    color: var(--visitedLinkColor);
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
</style>
